/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #9B59B6;
}

.wrapper {
  width: 450px;
  min-height: 500px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
  padding: 10px;
  box-sizing: border-box;
}

.wrapper header {
  display: flex;
  align-items: center;
  padding: 25px 0px 10px;
  justify-content: space-between;
}

header .icons {
  display: flex;
}

header .icons span {
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  color: #878787;
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
}

.icons span:last-child {
  margin-right: -10px;
}

header .icons span:hover {
  background: #f2f2f2;
}

header .current-date {
  font-size: 1.45rem;
  font-weight: 500;
}

.calendar {
  padding: 20px;
}

.calendar ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}

.calendar .days {
  margin-bottom: 20px;
}

.calendar li {
  color: #333;
  width: calc(100% / 7);
  font-size: 1.07rem;
}

.calendar .weeks li {
  font-weight: 500;
  cursor: default;
}

.calendar .days li {
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 30px;
}

.days li.inactive {
  color: #aaa;
  cursor: not-allowed;
}

.days li.active {
  color: #fff;
}

.days li::before {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 40px;
  width: 40px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.days li.active::before {
  background: #9B59B6;
}

.days li:not(.active):hover::before {
  background: #f2f2f2;
}

.hour-picker {
  background-color: #E6E6E6;
  width: 100px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 5px;
}


*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input[type="date"] {
  background-color: #0080ff;
  padding: 15px;
  font-family: "Roboto Mono", monospace;
  color: #ffffff;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 5px;
}

::-webkit-calendar-picker-indicator {
  background-color: #ffffff;
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
}

.buttons-container {
  margin-top: 12px;
  display: flex;
  column-gap: 20px;
}

.buttons-container button {
  border: none;
  outline: none;
  background-color: #9B59B6;
  width: 100px;
  height: 25px;
  border-radius: 5px;
  cursor: pointer;
}

.inputs-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.inputs-container input {
  height: 30px;
  width: 90%;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  padding-left: 3px;
  outline: none;
}

.inputs-container input:focus {
  outline: 1.5px solid rgba(0, 0, 0, 0.25);
}

.scheduled-event {
  width: 100%;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 50px;
  text-align: center;
}

.scheduled-event svg {
  font-size: 3rem;
  color: #9B59B6;
}